/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{$light-bg-color};
  --global-card-bg-color: #{$light-card-bg-color};
  --global-text-color: #{$light-text-color};
  --global-text-color-light: #{$light-text-color-light};
  --global-theme-color: #{$light-theme-color};
  --global-hover-color: #{$light-hover-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$light-bg-color};
  --global-footer-text-color: #{$light-text-color-light};
  --global-footer-link-color: #{$light-theme-color};
  --global-distill-app-color: #{$light-theme-color};
  --global-divider-color: #{$light-border-color};
  --global-highlight-color: rgba(8, 143, 143, 0.1);
  --global-code-bg-color: #{$light-border-color};
  --global-back-to-top-bg-color: #{$light-text-color};
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$light-card-bg-color};
  --global-newsletter-text-color: #{$light-text-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{$dark-bg-color};
  --global-card-bg-color: #{$dark-card-bg-color};
  --global-text-color: #{$dark-text-color};
  --global-text-color-light: #{$dark-text-color-light};
  --global-theme-color: #{$dark-theme-color};
  --global-hover-color: #{$dark-hover-color};
  --global-hover-text-color: #{$dark-bg-color};
  --global-footer-bg-color: #{$dark-bg-color};
  --global-footer-text-color: #{$dark-text-color-light};
  --global-footer-link-color: #{$dark-theme-color};
  --global-distill-app-color: #{$dark-theme-color};
  --global-divider-color: #{$dark-card-bg-color};
  --global-highlight-color: rgba(56, 178, 172, 0.15);
  --global-code-bg-color: #{$dark-bg-color};
  --global-back-to-top-bg-color: #{$dark-card-bg-color};
  --global-back-to-top-text-color: #{$dark-text-color};
  --global-newsletter-bg-color: #{$dark-card-bg-color};
  --global-newsletter-text-color: #{$dark-text-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
