/* ==========================================================================
   SIDEBAR (MODIFIED AS HEADER)
   ========================================================================== */

   .sidebar {
    width: 100%;
    padding: 2em 0;
    text-align: center; // Center-aligns all text content within the new header
    border-bottom: 1px solid var(--global-border-color); // Adds a nice separator line
    margin-bottom: 2em; // Adds some space before the main content starts
  
    h2, h3, h4, h5, h6 {
      margin-bottom: 0;
      font-family: $sans-serif-narrow;
    }
  
    h3, h4 {
      font-size: $type-size-5;
    }
  
    p, li {
      font-family: $sans-serif;
      font-size: $type-size-6;
      line-height: 1.5;
    }
  
    img {
      width: 100%;
    }
  }
  
  /*
     Author profile and links
     ========================================================================== */
  
  .author__avatar {
    display: block; // Ensures the avatar is a block element
    width: auto;
    height: auto;
    margin-bottom: 1em; // Space between avatar and text
  
    img {
      max-width: 175px; // You can adjust this value to make the image bigger or smaller
      border-radius: 50%; // Makes the image a circle
      margin-left: auto;  // These two lines center the image
      margin-right: auto;
      padding: 5px;
      border: 1px solid var(--global-border-color);
    }
  }
  
  .author__content {
    display: block;
    width: 100%;
    padding: 0;
  }
  
  .author__name {
    margin: 0 0 0.5em; // Add some space below the name
    font-family: $sans-serif;
    font-size: $type-size-3; // Make the name a bit larger
  }
  
  .author__bio {
    margin: 0 auto 1em; // Center the bio block and add space below
    max-width: 400px; // Constrain the width of the bio text for readability
  }
  
  
  /* Make the social media links always visible and centered */
  .author__urls-wrapper {
    display: block;
    font-family: $sans-serif;
  }
  
  .author__urls {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
    background: transparent;
    box-shadow: none;
  
    li {
      display: inline-block; // Display links side-by-side
      margin: 0 0.5em;
      white-space: nowrap;
    }
  
    a {
      padding: 0;
      color: inherit;
      font-size: $type-size-5;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    /* These are for the mobile dropdown, which we don't need anymore */
    button,
    &:before,
    &:after {
      display: none;
    }
  }
  
  /* Hide unused classes */
  .sidebar__right,
  .sidebar .author__desktop {
    display: none;
  }